<!-- compenent -->
<!-- Fooster -->
<footer class="" style="background-color: #282828; 
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; position: fixed;
        left: 0;
        bottom: 0; width: 100%;">
    <div class="°°°">
        <nav class="°°°">
            <div class="°°°">
                <a href="#" class="°°°">
                About
                </a>
            </div>
            <div class="°°°">
            <a href="#" class="°°°">
            Blog    
            </a>
            <%# if current_user%>
                <div class="°°°">
                    <%#= link_to "Account details", edit_user_registration_path,
                    class:"text-base leading-6 text-while hover:text-gray-200"%>
                </div>
            <%# end %>
        </nav> 
    </div>
</footer>    